.sec-container {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(73, 70, 70);
}
.div-style {
  width: 50%;
}
.span-color {
  color: #fc8f49;
}
.img-style {
  height: 75%;
  padding-top: 13%;
}
.div-style2 {
  padding-top: 15%;
  padding-left: 35%;
}
.h1-style {
  font-size: 50px;
}
pre {
  font-size: 20px;
}
.food-contact-button {
  text-decoration: none;
  background-image: linear-gradient(to right, #fe4e30, #fc8f49);
  padding: 18px 37px;
  color: #fff;
  border-radius: 30px;
  font-weight: 600;
}
.sec-img {
  background-image: url(images/shapes/joss.jpg);
}
.img-style2 {
  padding-left: 21%;
  padding-top: 15%;
}
