.sec-container {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(70, 64, 64);
}
.div-style {
  width: 50%;
  padding: 50px 120px 0px 0px;
}
.span-color {
  color: #fc8f49;
}
.img-style {
  height: 75%;
  padding-top: 5%;
}
.div-style2 {
  padding-top: 15%;
  padding-left: 35%;
}
.h1-style {
  font-size: 50px;
}
.pre {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(65, 61, 61);
}
.food-contact-link {
  text-decoration: none;
  background-image: linear-gradient(to right, #fe4e30, #fc8f49);
  padding: 18px 37px;
  color: #fff;
  border-radius: 30px;
  font-weight: 600;
}
.sec-img {
  background-image: url(images/shapes/joss.jpg);
  margin-bottom: 20px;
}
.img-style2 {
  padding-left: 21%;
}
.style {
  text-align: center;
  padding: 47px 600px 40px 600px;
}
.divi-width-style {
  width: 20%;
  border: 1px solid #fff;
  box-shadow: 1px 1px 70px 1px gray;
  padding: 20px 6px 15px 20px;
  border-radius: 30px;
}
.food-img {
  height: 55%;
  width: 95%;
  border-radius: 20px;
}
.padding1 {
  margin: 0 10% 0 10%;
}
